
<!DOCTYPE html>

<html lang="en">


<head>
	<meta charset="UTF-8">
	<title>Furry Friend Finder</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

</head>	

<body>

<div class="container">
		<div class="jumbotron">
			<h1>Furry Friend Finder</h1>
			<p>If you are looking to find a new furry friend, this website will help you find your perfect match. Click the Log-In button below to get started.</h3>
			<hr>
			<button type="button" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-plus"></span> Log-In</button>
		</div>



	<!--<div id="app"></div>

	<!--<script src="bundle.js"></script>-->


<!--

	<div class="app">
		<header class="primary-header"><header>

		<aside class="primary-aside"></aside>

		<main>

	<div class="search">
-->
</body>
</html>